/* CSS syntax */
selector {
    property: value;
}

/* commentators */
/* 
    + adjacent sibling = div + ul {} // direct sibling/immediately after // have to share the same parent
    ~ general siblings = div ~ ul {} // all siblings
    > child = div > ul {} // only direct children
    " " descendent = div ul {} // all descendants
*/

/* selecting based off an attribute */
[disabled] {
    /* code */
}

/* how to unset a property */
.title {
 color: unset;
}

/* 
    To stop the page Load CSS Transitions

    .preload * {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -ms-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
    }

    <script>
        // To stop the page Load CSS Transitions   
        // https://stackoverflow.com/questions/14389566/stop-css-transition-from-firing-on-page-load
        // https://bugs.chromium.org/p/chromium/issues/detail?id=332189
        $( document ).ready(function() {
            $("body").removeClass("preload");
        });
    </script>
*/